@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Love+Light&family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Klee+One&family=Love+Light&family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Klee+One&family=Love+Light&family=Major+Mono+Display&family=The+Girl+Next+Door&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200&display=swap');

.banner {
  /* background-image: url("../../images/cover.jfif"); */
  background-image: url("https://images.pexels.com/photos/2449600/pexels-photo-2449600.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 91%, 0% 100%);
}

.banner2 {
  background-image: url("https://cdn.shopify.com/s/files/1/0073/2476/2196/files/winter-2021-hoodies_1000x.jpg?v=1633069859");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 86%);
}

.banner3 {
  background-image: url("https://images.pexels.com/photos/1884581/pexels-photo-1884581.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: black;
  clip-path: polygon(0 0, 100% 0, 100% 91%, 0% 100%);
}
.banner4 {
  background-image: url("https://images.pexels.com/photos/298863/pexels-photo-298863.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: black;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 86%);
}
.banner5 {
  background-image: url("https://images.pexels.com/photos/331990/pexels-photo-331990.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%);
}
.logo {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}
.logo > a {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}
.logo > a>img {
  width: 90px;
  border-radius: 100%;
  top: 15px;
  position: fixed;
  z-index: 100;
  cursor: none;

}
.logo > p {
  top: 100px;
  margin-top: 13px;
  position: fixed;
  z-index: 100;
  font-family: "Major Mono Display", monospace;
  font-size: 20px;
  color: whitesmoke;
  text-transform: uppercase;
}
.banner > h1 {
  margin: 0.3vmax;
  font-family: "The Girl Next Door", cursive;
}

.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
}
.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.arrow {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  transform: scale(0.3);
  animation: move-arrow 3s ease-out 1s infinite;
}
.arrow:first-child {
  animation: move-arrow 3s ease-out 1s infinite;
}
.arrow:nth-child(2) {
  animation: move-arrow 3s ease-out 2s infinite;
}
.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: linear-gradient(#bdc3c7, #2c3e50);
}
.arrow::before {
  left: 0;
  transform: skewY(30deg);
}
.arrow::after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}
@keyframes move-arrow {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}
.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s ease-in-out;
  padding-bottom: 0.5vmax;

}

.productCard > img {
  width: 14vmax;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
}

.productCard > p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax;
  font-family: "Roboto";
  font-size: 1.2vmax;
  font-weight: 100;
}

.productCard:hover {
  box-shadow: rgba(59, 59, 59, 0.8) 0px 40px 58px -16px,
  rgba(150, 144, 144, 0.72) 0px 30px 22px -10px;
transform: scale(1.05);
}

.message{
    top: 39%;
    transform: rotate(270deg);
    background: #000;
    transform-origin: center;
    position: fixed;
    right: -44px;
    padding: 8px 9px;
    z-index: 11;
    color: #fff;
    font-family: "Spartan",sans-serif;
    font-size: 15px;
    font-weight: 800;
    line-height: 1em;
    cursor: pointer;
}
.search{
    top: 56%;
    transform: rotate(270deg);
    background: #000;
    transform-origin: center;
    position: fixed;
    right: -22px;
    padding: 8px 9px;
    z-index: 11;
    color: #fff;
    font-family: "Spartan",sans-serif;
    font-size: 15px;
    font-weight: 800;
    line-height: 1em;
    cursor: pointer;
    text-decoration: none;
}

.rightFooter{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
.rightFooter > h4{
  font-family: "Spartan",sans-serif;

}
@media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
  .banner > h1 {
    font-size: 3vmax;
    margin-top: 10px;
  }
  .arrow {
    left: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .logo >a > img {
    width: 70px;
    margin-top: 0;
    top: 8px;
  }
  .logo > p {
    top: 11%;
  }
}
